<nav class="light-orange lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo">Movies Finder</a>
    <!--<ul class="right hide-on-med-and-down">
      <li><a href="#">Movie Finder</a></li>
    </ul>-->
    <!--<ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>-->
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="container">
  <div class="section">
    <router-outlet></router-outlet>
  </div>
</div>
