<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Contents ...</p>
        <p>
          <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" *ngFor="let movie of popularList; let i = index;">
        <div *ngIf="i < 6">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" *ngIf="movie.poster_path" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a href="" class="btn btn-default">View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Movies In Theaters</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" *ngFor="let movie of theatersList; let i = index;">
        <div *ngIf="i < 6">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" *ngIf="movie.poster_path" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a href="" class="btn btn-default">View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
