<div *ngIf="movie">
  <div class="row">
    <div class="col m5">
      <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" thumbnail>
    </div>
    <div class="col m7">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4>{{movie.title}}</h4>
        </li>
        <li class="collection-item">
          <div>Genres:
            <span class="secondary-content">
              <span *ngFor="let genre of movie.genres" class="new badge">
              {{genre.name}} 
            </span>
            </span>
          </div>
        </li>
        <li class="collection-item">
          <div>Overview:
            <span class="secondary-content">
                {{movie.overview}}
            </span>
          </div>
        </li>
      </ul>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-default" target="_blank">Visit Movies Website</a>
      <!--<h1>{{movie.title}}</h1>
      <ul class="list-group">
        <li class="list-group-item">
          Genres:
          <span *ngFor="let genre of movie.genres" class="new badge">
              {{genre.name}} 
            </span>
        </li>
        <li class="list-group-item">
          Release Date: {{movie.release_date}}
        </li>
      </ul>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-default" target="_blank">Visit Movies Website</a>-->
    </div>
  </div>
</div>
