<div class="row" *ngIf="movie">
  <div class="col-md-4">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
    <p>
      <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Visit Movies Website</a>
    </p>
  </div>
  <div class="col-md-8">
    <h2>{{movie.title}}
      <small class="label label-warning">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </h2>
    <p>
      <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-default m-r-md">
        {{genre.name}}
      </a>
    </p>
    <h3>Overview</h3>
    <p>
      {{movie.overview}}
    </p>
    <div class="row" *ngIf="reviews && reviews.length > 0">
      <div class="col-md-12">
        <h2>Reviews</h2>
      </div>
      <div class="col-md-6" *ngFor="let review of reviews">
        <blockquote>
          <p class="text-justify">{{review.content}}</p>
          <footer><cite title="{{review.author}}"><a href="{{review.url}}" target="_blank">{{review.author}}</a></cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
